<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-Oauth-Endpoint-Test-Suite">

    <test name="Util-Tests" preserve-order="true" parallel="false">
        <parameter name="log-level" value="info"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.endpoint.util.ClaimUtilTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.util.EndpointUtilTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.util.OpenIDConnectUserRPStoreTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.authz.OAuth2AuthzEndpointTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.introspection.IntrospectionResponseBuilderTest" />
        </classes>
    </test>

    <test name="OAuth2EndpointTestsWithDebugEnabled" preserve-order="true" parallel="false">
        <parameter name="log-level" value="debug"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.endpoint.util.ClaimUtilTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.util.EndpointUtilTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.util.OpenIDConnectUserRPStoreTest" />
            <class name="org.wso2.carbon.identity.oauth.endpoint.authz.OAuth2AuthzEndpointTest" />
        </classes>
    </test>

    <test name="endpoint.jwts-tests" preserve-order="true" parallel="false">
        <!-- there are no debug logs in the class -->
        <parameter name="log-level" value="info"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.endpoint.jwks.JwksEndpointTest" />
        </classes>
    </test>

    <test name="endpoint.token-tests-info" preserve-order="true" parallel="false">
        <parameter name="log-level" value="info"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.endpoint.token.OAuth2TokenEndpointTest" />
        </classes>
    </test>

    <test name="endpoint.token-tests-debug" preserve-order="true" parallel="false">
        <parameter name="log-level" value="debug"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.endpoint.token.OAuth2TokenEndpointTest" />
        </classes>
    </test>

    <test name="endpoint.user.impl-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.identity.oauth.endpoint.user.impl.UserInfoEndpointConfigTest"/>
            <class name="org.wso2.carbon.identity.oauth.endpoint.user.impl.UserInfoISAccessTokenValidatorTest"/>
            <class name="org.wso2.carbon.identity.oauth.endpoint.user.impl.UserInfoJSONResponseBuilderTest"/>
        </classes>
    </test>
</suite>
