<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="org.wso2.carbon.identity.oauth.test.suite" verbose="1">
    <test name="using-own-test-framework" preserve-order="false" parallel="false">
        <parameter name="log-levels" value="debug, info" />
        <classes>
            <class name="org.wso2.carbon.identity.oauth.OAuthUtilTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.AbstractAuthorizationGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.validators.JDBCScopeValidatorTest"/>
            <class name="org.wso2.carbon.identity.oauth2.validators.OIDCScopeHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.validators.TokenValidationHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.validators.DefaultOAuth2TokenValidatorTest"/>
            <class name="org.wso2.carbon.identity.oauth2.validators.OAuth2TokenValidationMessageContextTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authz.handlers.CodeResponseTypeHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authz.AuthorizationHandlerManagerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authz.handlers.AbstractResponseTypeHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authz.handlers.TokenResponseTypeHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authcontext.JWTTokenGeneratorTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.RememberMeStoreTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.RequestObjectValidatorImplTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.RequestParamRequestObjectBuilderTest"/>
        </classes>
    </test>
    <test name="oauth.tests.with.debug.disabled" preserve-order="false" parallel="false">
        <parameter name="log-level" value="info"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.cache.AppInfoCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.AuthorizationGrantCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.OAuthCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.OAuthCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.OAuthScopeCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.SessionDataCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.SessionDataCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.TestUtil"/>
            <class name="org.wso2.carbon.identity.oauth.callback.DefaultCallbackHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth.callback.OAuthCallbackHandlerRegistryTest"/>
            <class name="org.wso2.carbon.identity.oauth.callback.OAuthCallbackManagerTest"/>
            <class name="org.wso2.carbon.identity.oauth.config.OAuthCallbackHandlerMetaDataTest"/>
            <class name="org.wso2.carbon.identity.oauth.config.OAuthServerConfigurationTest"/>
            <class name="org.wso2.carbon.identity.oauth.dao.OAuthAppDAOTest"/>
            <class name="org.wso2.carbon.identity.oauth.dao.OAuthConsumerDAOTest"/>
            <class name="org.wso2.carbon.identity.oauth.event.AbstractOAuthEventInterceptorTest"/>
            <class name="org.wso2.carbon.identity.oauth.listener.ClaimCacheRemoveListenerTest"/>
            <class name="org.wso2.carbon.identity.oauth.listener.ClaimMetaDataCacheRemoveListenerTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth.listener.IdentityOathEventListenerTest"/>-->
            <class name="org.wso2.carbon.identity.oauth.listener.OAuthCacheRemoveListenerTest"/>
            <class name="org.wso2.carbon.identity.oauth.OAuthAdminServiceTest"/>
            <class name="org.wso2.carbon.identity.oauth.OAuthServiceTest"/>
            <class name="org.wso2.carbon.identity.oauth.tokenprocessor.EncryptionDecryptionPersistenceProcessorTest"/>
            <class name="org.wso2.carbon.identity.oauth.tokenprocessor.PlainTextPersistenceProcessorTest"/>
            <class name="org.wso2.carbon.identity.oauth.tokenvaluegenerator.SHA256GeneratorTest"/>
            <class name="org.wso2.carbon.identity.oauth.user.UserInfoEndpointExceptionTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimMetaDataCacheEntryTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimMetaDataCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimMetaDataCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.UserClaimsTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authcontext.DefaultClaimsRetrieverTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authz.OAuthAuthzReqMessageContextTest"/>
            <class name="org.wso2.carbon.identity.oauth2.bean.ScopeTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.AccessContextTokenDOTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.AuthContextTokenDOTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.ScopeMgtDAOTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.TokenMgtDAOTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.internal.OAuthApplicationMgtListenerTest"/>-->
            <!--<class name="org.wso2.carbon.identity.oauth2.internal.OAuthTenantMgtListenerImplTest"/>-->
            <!--<class name="org.wso2.carbon.identity.oauth2.internal.OAuthUserStoreConfigListenerImplTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.listener.TenantCreationEventListenerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.OAuth2ScopeServiceTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.OAuth2ServiceTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.OAuth2TokenValidationServiceTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.AccessTokenIssuerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.clientauth.BasicAuthClientAuthHandlerTest"/>

            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.AbstractValidatorTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.AuthorizationCodeGrantHandlerTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.ClientCredentialsGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.iwa.ntlm.NTLMAuthenticationGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.PasswordGrantHandlerTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.RefreshGrantHandlerTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.saml.SAML2BearerGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.saml.SAML1BearerGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.JWTTokenIssuerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.OauthTokenIssuerImplTest"/>
            <class name="org.wso2.carbon.identity.oauth2.util.OAuth2UtilTest"/>
            <class name="org.wso2.carbon.identity.oauth2.tokenBinding.TokenBindingHandlerTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.DefaultIDTokenBuilderTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.DefaultOIDCClaimsCallbackHandlerTest"/>
        </classes>
    </test>

    <!-- Add test classes here only if they have DEBUG level logs -->
    <test name="oauth.tests.with.debug.enabled" preserve-order="false" parallel="false">
        <parameter name="log-level" value="debug"/>
        <classes>
            <class name="org.wso2.carbon.identity.oauth.cache.AppInfoCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.AuthorizationGrantCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.OAuthCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.OAuthCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.OAuthScopeCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.SessionDataCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.SessionDataCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.cache.TestUtil"/>
            <class name="org.wso2.carbon.identity.oauth.callback.DefaultCallbackHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth.callback.OAuthCallbackHandlerRegistryTest"/>
            <class name="org.wso2.carbon.identity.oauth.callback.OAuthCallbackManagerTest"/>
            <class name="org.wso2.carbon.identity.oauth.config.OAuthCallbackHandlerMetaDataTest"/>
            <class name="org.wso2.carbon.identity.oauth.config.OAuthServerConfigurationTest"/>
            <class name="org.wso2.carbon.identity.oauth.dao.OAuthAppDAOTest"/>
            <class name="org.wso2.carbon.identity.oauth.dao.OAuthConsumerDAOTest"/>
            <class name="org.wso2.carbon.identity.oauth.event.AbstractOAuthEventInterceptorTest"/>
            <class name="org.wso2.carbon.identity.oauth.listener.ClaimCacheRemoveListenerTest"/>
            <class name="org.wso2.carbon.identity.oauth.listener.ClaimMetaDataCacheRemoveListenerTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth.listener.IdentityOathEventListenerTest"/>-->
            <class name="org.wso2.carbon.identity.oauth.listener.OAuthCacheRemoveListenerTest"/>
            <class name="org.wso2.carbon.identity.oauth.OAuthAdminServiceTest"/>
            <class name="org.wso2.carbon.identity.oauth.OAuthServiceTest"/>
            <class name="org.wso2.carbon.identity.oauth.tokenprocessor.EncryptionDecryptionPersistenceProcessorTest"/>
            <class name="org.wso2.carbon.identity.oauth.tokenprocessor.PlainTextPersistenceProcessorTest"/>
            <class name="org.wso2.carbon.identity.oauth.tokenvaluegenerator.SHA256GeneratorTest"/>
            <class name="org.wso2.carbon.identity.oauth.user.UserInfoEndpointExceptionTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimMetaDataCacheEntryTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimMetaDataCacheKeyTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.ClaimMetaDataCacheTest"/>
            <class name="org.wso2.carbon.identity.oauth.util.UserClaimsTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authcontext.DefaultClaimsRetrieverTest"/>
            <class name="org.wso2.carbon.identity.oauth2.authz.OAuthAuthzReqMessageContextTest"/>
            <class name="org.wso2.carbon.identity.oauth2.bean.ScopeTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.AccessContextTokenDOTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.AuthContextTokenDOTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.ScopeMgtDAOTest"/>
            <class name="org.wso2.carbon.identity.oauth2.dao.TokenMgtDAOTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.internal.OAuthApplicationMgtListenerTest"/>-->
            <!--<class name="org.wso2.carbon.identity.oauth2.internal.OAuthTenantMgtListenerImplTest"/>-->
            <!--<class name="org.wso2.carbon.identity.oauth2.internal.OAuthUserStoreConfigListenerImplTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.listener.TenantCreationEventListenerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.OAuth2ScopeServiceTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.OAuth2ServiceTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.OAuth2TokenValidationServiceTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.AccessTokenIssuerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.clientauth.BasicAuthClientAuthHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.AbstractValidatorTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.AuthorizationCodeGrantHandlerTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.ClientCredentialsGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.iwa.ntlm.NTLMAuthenticationGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.PasswordGrantHandlerTest"/>
            <!--<class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.RefreshGrantHandlerTest"/>-->
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.saml.SAML2BearerGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.handlers.grant.saml.SAML1BearerGrantHandlerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.JWTTokenIssuerTest"/>
            <class name="org.wso2.carbon.identity.oauth2.token.OauthTokenIssuerImplTest"/>
            <class name="org.wso2.carbon.identity.oauth2.util.OAuth2UtilTest"/>
            <class name="org.wso2.carbon.identity.oauth2.tokenBinding.TokenBindingHandlerTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.DefaultIDTokenBuilderTest"/>
            <class name="org.wso2.carbon.identity.openidconnect.DefaultOIDCClaimsCallbackHandlerTest"/>
        </classes>
    </test>
</suite>
